# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

# .NET build artifacts
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
.vs/

# NuGet
packages/
*.lock.json
